.tablero {
    border: 1px black solid;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
}

.negro {
    border: 1px black solid;
    background-color: black;
}

.blanco {
    border: 1px black solid;
    background-color: white;
}

.fichaRoja {
    color: red;
    font-size: 30px;
}

.fichaNegra {
    color: black;
    text-shadow: 0px 0px 5px white;
    font-size: 30px;
}