td {
    width: 40px;
    height: 40px;
    text-align: center;
}

.negro {
    border: 1px black solid;
    background-color: black;
}

.blanco {
    border: 1px black solid;
    background-color: white;
}